---
  root: true
  extends: openstack
  rules:
    # disabled rules from openstack config
    no-extra-parens: 0 # extra parens are preferred with JSX
    no-warning-comments: 0 # we're ok with FIXMEs
    no-process-env: 0 # we use it in a few places and are ok with it

    # overridden rules from openstack config
    curly: [2, multi-line, consistent] # openstack config uses 'all' mode, but we're ok with braceless one-liners
    no-empty: [2, {allowEmptyCatch: true}] # we use empty blocks with try-catch
    operator-linebreak: [2, after, {overrides: {'?': ignore, ':': ignore}}] # disabled for ternary operator due to its heavy use in JSX

    # extra rules
    no-unexpected-multiline: 2
    dot-location: [2, property]
    yoda: 2
    no-undef: 2
    array-bracket-spacing: 2
    comma-spacing: 2
    id-match: [2, '^([A-Za-z\d_$]+)$', {properties: true}]
    key-spacing: 2
    keyword-spacing: 2
    new-cap: [2, {newIsCap: true, capIsNew: false}]
    no-array-constructor: 2
    no-lonely-if: 2
    no-new-object: 2
    no-spaced-func: 2
    object-curly-spacing: 2
    padded-blocks: [2, never]
    quotes: [2, single, avoid-escape]
    space-before-function-paren: [2, never]
  env:
    node: true
